body { margin: 0; }

h1, h2, h3 { color: #ff001d; font-family: "Great Vibes", cursive; }

h1 { font-size: 45px; margin-bottom: 0px; margin-top: 5px; }
@media screen and (max-width: 800px) { h1 { font-size: 35px; } }
@media screen and (max-width: 500px) { h1 { font-size: 25px; } }

h2 { font-size: 35px; }
@media screen and (max-width: 800px) { h2 { font-size: 35px; } }
@media screen and (max-width: 500px) { h2 { font-size: 25px; } }

#page { height: 100vh; }

.center { position: absolute; top: 100px; height: calc(100% - 142px); width: 100%; }
@media screen and (max-width: 800px) { .center { height: calc(100% - 127px); } }

#header { position: fixed; height: 100px; width: 100%; border-bottom: 2px solid #ff001d; }

.leTitre { text-align: center; padding: 15px 60px; }

#home { position: absolute; right: 15px; top: 15px; height: 64px; width: 64px; background-image: url("../image/homeS.png"); }
@media screen and (max-width: 800px) { #home { top: 25px; height: 32px; width: 32px; background-size: contain; } }

#topLeft { position: absolute; top: 2px; height: 48%; width: 48%; border-bottom: 2px solid #ff001d; border-right: 2px solid #ff001d; overflow: auto; }

.histoir { position: absolute; z-index: 10; height: 100%; width: 100%; background-image: url("../image/cameraV1.jpg"); background-size: cover; background-position: center; }

.bgTL { display: none; width: 100%; }

.flexUp { width: 100%; display: flex; }

.TLimg1 { min-width: 500px; height: auto; background-image: url("../image/cameraV2.jpg"); background-size: cover; background-position: center; }

.flexMid { width: 100%; display: flex; }

.TLimg2 { min-width: 500px; height: auto; background-image: url("../image/cameraV3.jpg"); background-size: cover; background-position: center; }

.flexDown { width: 100%; display: flex; }

.TLimg3 { min-width: 500px; height: auto; background-image: url("../image/cameraV4.jpg"); background-size: cover; background-position: center; }

.title { text-align: center; }

#topRight { position: absolute; top: 2px; right: 0; height: 48%; width: 48%; border-bottom: 2px solid #ff001d; border-left: 2px solid #ff001d; }

.paysage { position: absolute; z-index: 10; height: 100%; width: 100%; background-image: url("../image/camera1.jpg"); background-size: cover; background-position: center; }

#bottomLeft { position: absolute; bottom: 0; height: 48%; width: 48%; border-top: 2px solid #ff001d; border-right: 2px solid #ff001d; }

.today { position: absolute; z-index: 10; height: 100%; width: 100%; background-image: url("../image/cameraVBG.jpg"); background-size: cover; background-position: center; }

#bottomRight { position: absolute; bottom: 0; right: 0; height: 48%; width: 48%; border-top: 2px solid #ff001d; border-left: 2px solid #ff001d; }

.material { position: absolute; z-index: 10; height: 100%; width: 100%; background-image: url("../image/equipmentBG.jpg"); background-size: cover; background-position: center; }

.copyRight { position: fixed; width: 100%; height: 40px; text-align: center; bottom: 0; border-top: 2px solid #ff001d; }
@media screen and (max-width: 800px) { .copyRight { height: 25px; } }

.CR { margin-top: 8px; }
@media screen and (max-width: 800px) { .CR { font-size: 12px; } }
