#bottomRight
    position: absolute
    bottom: 0
    right: 0
    height: 48%
    width: 48%
    border-top: 2px solid $red
    border-left: 2px solid $red
    overflow: auto

.material
    position: absolute
    z-index: 10
    height: 100%
    width: 100%
    background:
        image: url('../image/equipmentBG.jpg')
        size: cover
        position: center
    text-align: justify
.bgBR
    display: none
    padding: 0px 10px
.equipement1
    max-width: 75%
    height: 300px
    background:
        image: url('../image/cameraMateriel1.jpg')
        size: cover
        position: center
    margin: auto
.equipement2
    max-width: 85%
    height: 300px
    background:
        image: url('../image/equipment3.jpg')
        size: cover
        position: center
    margin: auto
