#bottomLeft
    position: absolute
    bottom: 0
    height: 48%
    width: 48%
    border-top: 2px solid $red
    border-right: 2px solid $red

.today
    position: absolute
    z-index: 10
    height: 100%
    width: 100%
    background:
        image: url('../image/cameraVBG.jpg')
        size: cover
        position: center
