#topLeft
    position: absolute
    top: 2px
    height: 48%
    width: 48%
    border-bottom: 2px solid $red
    border-right: 2px solid $red
    overflow: auto
.histoir
    position: absolute
    z-index: 10
    height: 100%
    width: 100%
    background:
        image: url('../image/cameraV1.jpg')
        size: cover
        position: center

.bgTL
    display: none
    width: calc(100% - 20px)
    text-align: justify
    padding: 10px
.TLimgL
    width: 50%
    height: 50%
    float: left
    margin: 10px
.TLimgR
    width: 50%
    height: 50%
    float: right
    margin: 10px
.title
    text-align: center
